.skill{
    &__title{
        color: $title-color;
        font-weight:500;
    }
    &__icon{
        font-size: 3rem;
    }
    &__text{
        font-size: 1rem;
        align-self: center;
    }
}
#html{
    color: $html;
}
#css{
    color: $css;
}
#sass{
    color: $sass;
}
#bootstrap{
    color: $bootstrap;
}
#git{
    color: $git;
}
#github{
    color: $github;
}
#js{
    color: $javascript;
}
#vue{
    color: $vue;
}